.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #2d2d2d;
    border-bottom: 1px solid #0078d4;
}

.navbar-brand {
    font-size: 3rem;
    font-family: "VT323", monospace !important;
}

.navbar-actions {
    display: flex;
    gap: 2rem;
    align-items: center;
}

a.carrito {
    font-size: 1.5rem;
}

.category-bar {
    background-color: #111115;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.8rem;
    border-bottom: 1px solid #1e1e25;
    font-size: 1.4rem;
}