#root {
  padding-bottom: 2rem;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 700;
  color: #e3e4f4;
  text-decoration: inherit;
}
a:hover {
  color: #686cad;
}

body {
  margin: 0;
  place-items: top;
  width: 100vw;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.1;
}
